/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*= require bootstrap-datetimepicker
*/
body {font-family: Arial, Verdana, sans-serif; color: #282828}
table {width: 1150px}
th, td {padding: 15px; text-align: center}
th {border: 3px solid #C0C0C0; text-transform: uppercase; letter-spacing: 0.1m; font-size: 90%; text-align: center;}
tr.odd {background-color: #E0E0E0;}
/*tr {background-color: #0088dd;}*/
tr:hover {background-color: #c3e6e5;}



